#name-and-slogan #site-slogan {
  font-family: 'Lucida Sans','Lucida Grande',Sans-Serif;
  text-align: center;
  background-color: #40c749;
  border-top-style: dotted;
  border-right-style: dotted;
  border-bottom-style: dotted;
  border-left-style: dotted;
}

